{
  "presets": ["@babel/preset-env","@babel/react"],
  "env": {
    "development": {
      "plugins": ["@babel/transform-react-jsx-source"]
    }
  },
  "plugins": [
    "@babel/transform-async-to-generator",
    ["@babel/transform-runtime", {
      "helpers": false,
      "regenerator": true
    }],
    [
      "module-resolver",
      {
        "cwd":"babelrc",
        "alias": {
          "lib": "./src/lib",
          "rdx": "./src/rdx",
          "hocs": "./src/hocs",
          "containers": "./src/containers",
          "components": "./src/components"
        }
      }
    ]
  ]
}
