.react-sidenav {
  height: 100%;
  transition: all var(--transitionSpeed);
  width: 100%;
}

.react-sidenav-container {
  display: inline-block;
  flex-shrink: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
  top: 0;
  transition: all var(--transitionSpeed);
}

@supports (-webkit-appearance: none) {
  .react-sidenav-container.os-android {
    height: calc(100vh - 56px);
  }
}

.react-sidenav-trigger {
  display: inline-block;
}

.react-sidenav-trigger-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.react-sidenav__close-button {
  background: none;
  border: none;
  cursor: pointer;
  height: 25px;
  padding: 0;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 25px;
  z-index: 1;
}

.react-sidenav__cross {
  height: 25px;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
  width: 2px;
}

.react-sidenav__cross:last-child {
  transform: rotate(-45deg);
}
