.react-sidenav {
  height: 100%;
  transition: all var(--transitionSpeed);
  width: 100%;

  &-container {
    display: inline-block;
    flex-shrink: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
    top: 0;
    transition: all var(--transitionSpeed);

    @supports (-webkit-appearance: none) {
      &.os-android {
        height: calc(100vh - 56px);
      }
    }
  }

  &-trigger {
    display: inline-block;
  }

  &-trigger-button {
    background: none;
    border: none;
    cursor: pointer;
  }

  &__close-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 1;
  }
}